@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body, .app {
    background-color: #14161A;
    color: white;
    min-height: 100vh;
}

.title {
    flex: 1;
    color:gold !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: gold;
}

.selector {
    width: 80px;
}

h5 > span.coin-numbers {
    font-weight: 300;
}