h1, .search-box {
    margin: 30px 0;
}

h1 {
    font-weight: 200;
    text-align: center;
}

tr {
    cursor: pointer;
    color: white;
}

tr th {
    color: black;
    background-color: gold !important;
    border-bottom-color: gold !important;
}

tr td {
    padding: 16px 8px !important;
}

tr:hover td {
    background-color: transparent;
}